altgraph
annotated-types
anyio
boto3
botocore
Brotli
certifi
chardet
click
dearpygui
distro
docx
exceptiongroup
h11
httpcore
httpx
idna
requests
Jinja2
jmespath
lxml
macholib
markdown2
MarkupSafe
minijinja
openai
packaging
page
Pillow
pydantic
pydantic_core
pygame
pyinstaller
pyinstaller-hooks-contrib
python-dateutil
PyYAML
s3transfer
six
sniffio
tkdesigner @ git+https://github.com/ParthJadhav/Tkinter-Designer.git@631017b677161af00f08b38b318f3c3762564c27
tqdm
typing_extensions
urllib3
